@import "../../base.scss";

.sign-in {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.bg-dark {
    background-color: $dark-grey-bg-color;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
    /* 3 */
}

.sign-in-button {
    @include button-style;
    background-color: $main-color;
    margin-top: 21px;
}

.sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 1px 20px 5px #282828;

    & svg {
        height: 55px;
        color: $main-color;
    }
}

.sign-in-icon {
    font-size: 5rem;
}

.input-remember {
    display: flex;
}

.input-remember label {
    margin-left: 0.25rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}

.input-wrapper label {
    font-weight: bold;
}

.input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;

    &:focus {
        outline-color: $main-color;
    }
}

.error-message {
    background-color: rgb(247, 230, 230);
    color: rgb(148, 58, 58);
    padding: 5px;
    border-style: solid;
}