@import "../../base.scss";

.user {
    display: flex;
    flex-direction: column;
}

.header {
    color: #2d2d2d;
    margin-bottom: 2rem;

    .edit-button {
        background-color: $main-color;
        @include button-style;
    }
}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 18px;

    input {
        height: 30px;
        border-radius: 5px;
        border-color: lightgray;
        width: 12%;
        font-size: 17px;
        outline-color: $main-color;
    }

    .read-only {
        input {
            background-color: #ececec;
            color: #949393;
            cursor: default;

            &:focus {
                outline: none;
            }
        }
    }

    label {
        font-size: 20px;
    }

    .buttons-form {
        display: flex;
        justify-content: center;
        gap: 8px;

        button {
            @include button-style;

            &.save-button {
                background-color: $main-color;
            }

            &.cancel-button {
                background-color: rgb(200, 104, 104);
            }
        }
    }
}